/* Example config for hottpd
 *
 * At present, this lists every known option. Uncommented options
 * are required. Commented options show their default value.
 */

server
{
	document-root = "/path/to/docroot/"
	#softlimit = 1024 // Set to maxclients by default
	#loglevel = "default"
	#netbuffersize = 10240
	#moduledir = "/path/to/modules"
	#customversion = "hottpd"
	#pidfile = "/path/to/pid"
}

// You can have multiple bind sections
bind
{
	address = 127.0.0.1
	port = 80
}

performance
{
	/*
	 * How long to cache stat() entries for
	 * The longer this is, the better performance will be - but it may take longer for changes to
	 * show up live/could have possible security implications.
	 *
	 * Set to 0 to disable the cache totally.
	 */
	#stat-cache-time = 2

	/*
	 * Don't set access time on files where possible.
	 * Really a minor, trivial thing (you probably won't notice it anyway).
	 */
	#noatime = yes

	/*
	 * How many connections can queue up per listener: all these are accept()ed at once, so you
	 * won't usually have to set it too high, but higher load sites *will* benefit from a higher setting.
	 *
	 * Default setting is system maximum.
	 */
	#max-conn-queue = 128

	/*
	 * Maximum requests in a keepalive connection.
	 *
	 * HTTP/1.1 supports multiple requests from one socket connection, resulting in less latency from a
	 * user perspective (good thing).
	 *
	 * As sockets in hottpd are (relatively) cheap, leaving this high isn't too great a worry, and will decrease page load time generally.
	 *
	 * 0 or 1 disables keepalive entirely (bad idea, usually)
	 */
	#keepalive-max = 30

	/*
	 * How many cycles before checking connections for being idle
	 * On a lightly loaded server, you may wish to leave this quite low.
	 * On a higher loaded server, you could set this up a bit higher to
	 * help lower CPU use.
	 */
	#timeout-frequency = 120

	/*
	 * How long (total, not including keepalive) can a socket exist before
	 * being killed. As connections are (somewhat) cheap, if you have users
	 * making a lot of different page requests, keeping this up a bit can make
	 * things seem a bit faster for them if they have keepalive turned on.
	 *
	 * However, keeping it up too high makes it easier to DDOS your server.
	 */
	#timeout-total-lifetime = 30

	/*
	 * How long may a connection exist without being read/written to.
	 * (idle connections are usually useless anyway).
	 * Keeping this low on static servers is probably a good idea.
	 */
	#timeout-idle-lifetime = 5

	/*
	 * Maximum amount of data that may be sent in a POST, in bytes.
	 * XXX make this a bit more flexible ;p
	 */
	#max-post-body = 1024
}

security
{
	/*
	 * Defines if symbolic links should be followed when serving requests
	 * for directories and files
	 *  - upside: symbolic links work
	 *  - downside: can break out of docroot
	 */
	#follow-symlinks = yes

	/*
	 * hottpd can (optionally) drop priviledges after binding ports.
	 * this setting defines what user to drop down to.
	 */
	#user = www-data

	/*
	 * hottpd can (optionally) drop priviledges after binding ports.
	 * this setting defines what group to drop down to.
	 */
	#group = www-data

	/*
	 * Allows for "security" by changing root (hence 'chroot') to a subdir.
	 * Can be broken out of, but provides some measure of security
	 *
	 * Note, if you set chroot, you will need to change your docroot.
	 */
	#chroot = /var/www/
}
